body, h1,h2,h3 {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

body, html {
    background-color: #333538;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    padding: 20px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5.5em;
    color: #d1d1d1;
    margin-bottom: 0px;
}
h2 {
    font-size: 1.2em;
    color: #9a9a9a;
    margin-bottom: 10px;
}
h3 {
    font-size: 1.7em;
    color: #9a9a9a;
    margin-bottom: 20px;
}

.outlined-text {
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  /* top left */
        1px -1px 0 #000,   /* top right */
        -1px 1px 0 #000,   /* bottom left */
        1px 1px 0 #000;    /* bottom right */
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    height: 100%;
}

.image-container {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.image-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}

.experience {

}

.footer-links {
    position: fixed;
    bottom: 10px; /* or whatever distance you want from the bottom */
    left: 25%;
    transform: translateX(-50%); /* center the links horizontally */
}

/* Social Media Buttons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 17px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 10px;
  }
  .fa:hover {
    opacity: 0.7;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-linkedin {
    background: #125688;
    color: white;
}
  
  /* RAINBOW BUTTON */
  .button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 15px;
  }
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }




